

<div class="jumbotron">
    <h1>Fast internet for Devon and Somerset</h1>
    <p class="lead">Orion.uk is an Internet Service Provider, delivering fast internet to rural communities in the South West. Our technology delivers high speeds to remote locations for residential and business customers.</p>
    <p class="lead">We specialise in fixed wireless technology and have a network which spans Devon and Somerset.</p>
    <p> Our wireless network does not depend on traditional telephone lines. We can even provide internet telephones which completely remove dependence on local telephone lines.    </p>


</div>
<div class="row">
    <div class="col-md-3">
        <h2>RESIDENTIAL</h2>
        <p>Fast affordable internet at home. Prices start at £30 per month including VAT.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>BUSINESS</h2>
        <p>Internet services to support small and large businesses. Fixed wireless or traditional fibre/cabling.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>HOTSPOTS</h2>
        <p>Growing village network of Orion Wifi Hotspots. Easy access from computers or phones with no installation required.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>TELEPHONY</h2>
        <p>Replace your landline for cheaper calls and rental reductions. Even a ‘soft’ switchboard system grouping your staff’s homes and mobiles and passing calls around several locations.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
